* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #333;
  --accent-color: #ff6347;
  --success-color: #00b55a;

  --font-family: "Merriweather", sans-serif;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3.6rem;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

/* Example usage */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

.button {
  background-color: var(--primary-color);
  color: var(--background-color);
}

/* General Styles */
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: lightcoral;
  height: 75px;
  padding: 0 25px;
}

header .navbar .web-nav {
  margin-left: auto;
  display: flex;
}
header .navbar .web-nav li {
  padding-left: 20px;
}
header .ham-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  left: 0;
  top: 75px;
  z-index: 999;
  background-color: beige;
  width: 100%;
  height: calc(100% - 75px);
}

header .ham-nav .links {
  height: 100%;
  background-color: antiquewhite;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

header .ham-nav .footer {
  width: 100%;
  padding: 10px;
  background-color: #fff;
}

header .ham-menu {
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
}

header .ham-menu .ham-menu-icon span {
  background-color: #fff;
  height: 3px;
  width: 30px;
  display: block;
  margin-bottom: 6px;
  transition: transform 0.5s ease;
}

header .ham-menu .ham-menu-icon.change span:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 6px);
}

header .ham-menu .ham-menu-icon.change span:nth-child(2) {
  opacity: 0;
}

header .ham-menu .ham-menu-icon.change span:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -6px);
}

/* Add additional styles as necessary */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  height: 60px;
}

/* Style for the Featured Products Title */
.featured-title {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
}

/* Style for the Search and Pagination Options */
.search-and-pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for the search input */
#search-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Style for the labels and select */
label,
select {
  margin: 0;
  font-size: 16px;
}

/* Style for the checkboxes */
input[type="checkbox"] {
  margin-right: 5px;
}

.actionButton {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  /* Other styles as needed */
}
/* Media query for small screens */
@media (max-width: 768px) {
  .featured-title {
    padding: 5px;
    font-size: 20px;
  }

  .search-and-pagination {
    padding: 5px;
  }

  /* Make search input full width for smaller screens */
  #search-input {
    flex: 100%;
  }

  /* Adjust font size for smaller screens */
  label,
  select {
    font-size: 14px;
  }
}

.product-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  flex: 1;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  transition: transform 0.3s ease;
  overflow: hidden;
  position: relative;
}

.product:hover {
  transform: scale(1.03);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.product .image-container {
  overflow: hidden;
  position: relative;
}

.product .product-img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.3s ease;
}

.product:hover .product-img {
  opacity: 0.8;
}

.product .cardtext {
  padding: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.product:hover .cardtext {
  background-color: var(--accent-color);
  color: white;
}

.product h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.product p {
  font-size: 1rem;
  color: #666;
}

.product-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.product {
  width: calc(33.33% - 20px);
  margin-right: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product:last-child {
  margin-right: 0;
}

.product img {
  max-width: 100%;
  height: auto;
}

.product h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.product p {
  font-size: 1rem;
  color: #555;
  margin-top: 10px;
}

/* CSS for a product grid with reduced gap, wrapping, and fixed height cards */
.product-container.products-image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 0;
  background-color: #f5f5f5;
}

.product {
  flex: calc(12% - 10px);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product img {
  max-width: 100%;
  height: auto;
  flex-grow: 1;
}

.product h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.product p {
  font-size: 1rem;
  color: #555;
  margin-top: 10px;
}

/* Add styles for the footer */
#footer {
  background-color: var(--secondary-color);
  color: var(--background-color);
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  text-decoration: none;
  color: var(--background-color);
  display: block;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}

.footer-social ul {
  list-style: none;
  display: flex;
}

.footer-social li {
  margin-right: 10px;
}

.footer-social a {
  text-decoration: none;
  color: var(--background-color);
  font-size: 20px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
}

/* Add hover effect to the subscribe button */
#subscribe-button:hover {
  background-color: #ff4f00;
}

/* Media Query to show/hide the menu icon and hidden menu */
@media only screen and (max-width: 768px) {
  .product-grid .product {
    padding: 5px 10px;
    font-size: 14px;
    width: auto;
  }

  .actionButton {
    width: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  header .navbar .web-nav {
    display: none;
  }

  header .ham-menu {
    display: flex;
  }

  header .ham-nav.active {
    display: flex;
  }

  .email-box {
    flex-direction: column;
    align-items: center;
  }

  .text-box {
    width: 100%;
    max-width: 100%;
  }

  .product {
    flex: 0 0 100%;
    margin: 10px 0;
  }
  .product-grid .product {
    flex: calc(33.33% - 20px);
    margin-right: 20px;
    width: auto;
  }
  .product {
    width: calc(33.33% - 20px);

    padding: 0px;
  }
}
