/* ! import fonts*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* !RESET/BASE*/
:root {
  --body-font-family: "Oswald", sans-serif;
  --font-family: "Poppins", sans-serif;
  --body-font-color: #676767;
  --light-color: #fff;
  --dark-color: #141313;
  --orange: #ff4f00;
  --color-red-3: #990000;
  --gray-dark: #303030;
  --success: #00b55a;
  --dark-color-light: #4d4d4d;
  --body-font-color: #676767;
  --section-background-color: #fef5f5;

  --after-content: "2";
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  width: 100%;
  text-rendering: optimizeLegibility;
  font-size: 1.4rem;
  --family-font: "Oswald", sans-serif;
  font-weight: 400;
  color: var(--body-font-color);
  line-height: 1.5;
  overflow-x: hidden;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  font: inherit;
  color: inherit;
  outline: none;
}

/* ! REUSABLE CLASSES */
h1 {
  font-family: var(--family-font);
  font-size: 3.125rem;
  line-height: 4rem;
  color: var(--dark-color);
}
h2 {
  font-size: 2.875 rem;
  line-height: 2.875rem;
}

h4 {
  font-size: 1.25 rem;
}
h5 {
  font-weight: 700;
  font-size: 0.75rem;
}

p {
  font-size: 1.2rem;
  color: var(--body-font-color);
  font-weight: 400;
  margin: 15px 0 20px 0;
  font-family: var(--font-family);
}

.section-p1 {
  margin: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}
.logo {
  width: 12rem;
}

/* !Menu Toggler START*/

/* !SEARCH BOX START -------------*/
.search-box {
  margin-top: 0.8rem;
}

.search-form {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0;
}

.search-icon {
  left: 2rem;
}
.search-input {
  width: 28 8rem;
  height: 4.8rem;
  padding: 1.2rem 6rem 1.2rem 4.4rem;
  background-color: var(--light-color);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.04);
  border-radius: 0.9rem;
  border: 1px solid silver;
}
.search-input::placeholder {
  font-weight: 500;
  line-height: 1.4;
  color: var(--dark-color);
  transition: all 0.2s ease-in-out;
}
.search-input:focus::placeholder {
  opacity: 0;
}

/* !HEADER START ------------------*/
#nav {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*padding: 20px 80px;*/
  background: var(--light-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: var(--body-font-family);
  color: var(--accent-color);
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a:active {
  color: var(--orange);
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 0.125rem;
  background: var(--orange);
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.menu-toggle-icon {
  display: none;
  align-items: center;
}

.fa-user {
  font-size: 1.8rem;
}
#close {
  display: none;
}
/*! HOME PAGE SECTION -----------------*/

.feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 25px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid var(--color-green-2);
  border-radius: 4px;
  margin: 15px 0;
}
.fa-dhl {
  font-size: 9rem;
  color: var(--gray-dark);
}
.feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
.feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  font-size: 1rem;
  font-weight: 500;
  color: var(--dark-color-light);
}
.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
.feature .fe-box:nth-child(2) h6 {
  background-color: var(--accent-color);
}
.feature .fe-box:nth-child(3) h6 {
  background-color: var(--color-green-2);
}
.feature .fe-box:nth-child(4) h6 {
  background-color: var(--success);
}
.feature .fe-box:nth-child(5) h6 {
  background-color: var(--orange);
}
.feature .fe-box:nth-child(6) h6 {
  background-color: var(--color-red-2);
}

/*!-----!!Contact page  section------ */
#about-header {
  background-image: url(../images/about-header.jpg);

  height: 40vh;
  width: 100%;
  background-size: cover;
  background-position: top 30% right 0;
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about-header h2 {
  text-align: center;
  font-size: 4rem;
  font-family: " Oswald";
  font-weight: 700;
  margin: 13px;
  color: #fef5f5;
}

#about-head p {
  text-align: start;
  font-size: 1.3rem;
  color: var(--dark-color-light);
}

#about-header .blog-text p {
  text-align: center;
}

#about-head {
  display: flex;
  align-items: center;
}

#about-head img {
  width: 40%;
  height: auto;
  background-color: var(--light-color);
}

#about-head div {
  padding-left: 40px;
}
#about-stores {
  text-align: center;
}

#about-stores video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}

#about-stores .video video {
  width: 60%;
  height: 100%;
  border-radius: 20px;
}

#about-stores a span {
  color: var(--orange);
}

/*!-----!!NEW LETTER* ------------------ */
#newsletter {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(../images/joy-stamp.jpg);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: var(--color-blue-2);
}
#newsletter h4 {
  font-size: 22px;
  color: var(--light-color);
  font-weight: 700;
  margin: 40px 80px;
}
#newsletter p {
  font-size: 14px;
  color: var(--light-color);
  font-weight: 600;
  margin: 20px 30px;
}

#newsletter p span {
  color: var(--color-red-3);
  font-size: 15px;
  font-weight: 600;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 5.1236rem;
  padding: 0 2.25rem;
  font-size: 14px;
  width: 50%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter .cta-btn {
  color: var(--light-color);
  padding: 0.75em 1.5em;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #fff;
  font-weight: 600;
  padding: 11px 18px;
  font-size: 13px;
  background-color: var(--orange);
  text-transform: unset;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*!-----!*!FOOTER SECTION * ----------------- */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .colum {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo {
  width: 10rem;
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin-bottom: 0 0 8px 0;
}
.colum .install img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.button-group {
  margin: 5rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2.4rem;
}
.button {
  display: inline-block;
  text-align: center;
  background-color: var(--orange);
  color: var(--light-color);
  border: 1px solid var(--orange);
  border-radius: 6px;
  color: var(--light-color);
  transition: background-color 0.25s;
}

.button-transparent:hover,
.button-transparent:focus {
  background-color: var(--light-color);
  color: var(--orange);
  border-color: var(--accent-color);
}
.button-transparent {
  background-color: transparent;
  display: flex;
  align-items: center;
  color: var(--dark-color);
}

footer .social-media {
  display: inline-block;
  animation: float 5s ease-in-out infinite;
  margin-top: 20px;
  font-size: 44px;
}

footer .social-media i {
  padding-right: 4px;
  cursor: pointer;
  color: var(--color-yellow-3);
}

footer .social-media i:hover,
footer a:hover {
  color: var(--orange);
}

footer .social-media i {
  padding-right: 4px;
  cursor: pointer;
  color: var(--color-yellow-3);
}

.fa-facebook {
  animation: calc(delay 1s);
}
.fa-twitter {
  animation: calc(delay 2s);
}
.fa-pinterest-p {
  animation: calc(delay 3s);
}

.fa-instagram {
  animation: calc(delay 4s);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(5);
  }
}

footer .install img {
  width: 3rem;
  margin: 10px 0 15px 0;
}

.horizontal-line {
  margin-block: 3rem;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.footer-data {
  font-size: 1, 2rem;
  text-align: center;
  margin-bottom: 12px;
}

.copyright-information {
  text-align: center;
  line-height: 2.4rem;
}

.legal-information {
  font-weight: 500;
  margin: 0 1.5rem;
  transition: color 0.5s;
}

.legal-information a:hover,
.legal-information a:focus {
  color: var(--orange);
}

#pagination {
  text-align: center;
}
#pagination a {
  color: var(--light-color);
  background-color: var(--orange);
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}
#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/*!-----!* START MEDIA QUERY * ------ */

@media (max-width: 1000px) {
  /*.section-p1 {
    margin: 40px 40px;
  }
  .section-m1 {
    margin: 0px 0px;
  }*/

  .logo {
    width: 14rem;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: var(--light-color);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 00.3s;
  }
  #navbar .active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  .mobile-menu {
    display: flex;
    align-items: center;
  }
  .mobile-menu i {
    font-size: 24px;
    padding-left: 20px;
  }

  .hero {
    height: 60vh;

    background-position: top 20% right 40%;
  }
  .hero h1 {
    font-size: 3rem;
  }

  .feature {
    justify-content: center;
  }

  .feature .fe-box {
    width: 150px;

    margin: 15px 15px;
  }

  .product1,
  .product-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .product1 .product {
    margin: 15px;
  }
  #banner {
    height: 20vh;
  }

  #sm-banner {
    display: flex;
    justify-content: space-between;
    column-gap: 6rem;
    flex-direction: column;
    flex-wrap: nowrap;
    column-gap: 2rem;
  }
  #sm-banner .banner-box2,
  #sm-banner .banner-box {
    margin-bottom: 10px;
  }
  #sm-banner .banner-box {
    min-width: 198px;
    height: 20vh;
  }

  #banner3 .banner-box {
    width: 28%;
    height: 25vh;
  }
  #newsletter .form {
    width: 70%;
    margin-bottom: 20px;
  }
  #newsletter {
    padding: 0 20px;
  }

  #banner3 {
    padding: 0 40px;
  }
  #sm-banner span {
    font-size: 1rem;
  }

  /* !Blog Page  START ------------------*/
  .blog-details h4 {
    font-size: 3rem;
    color: var(--dark-color);
  }

  #blog-header {
    height: 30vh;
  }
  #blog-content img {
    width: 100%;
  }

  #blog-content {
    padding: 100px 40px 0 40px;
  }
  #blog-content .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog-content .blog-image {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
}

@media (max-width: 912px) {
  /*.section-p1 {
    margin: 40px 40px;
  }
  .section-m1 {
    margin: 0px 0px;
  }*/

  .logo {
    width: 14rem;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: var(--light-color);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 00.3s;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #menu-toggle-icon {
    display: flex;
    align-items: center;
  }
  #menu-toggle-icon i {
    color: var(--orange);
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: var(--dark-color-light);
    font-size: 24px;
  }
  #lg-bag {
    display: none;
  }

  .fa-bag-shopping {
    display: none;
  }

  .hero {
    height: 60vh;

    background-position: top 20% right 40%;
  }
  .hero h1 {
    font-size: 3rem;
  }

  .feature {
    justify-content: center;
  }

  .feature .fe-box {
    width: 150px;

    margin: 15px 15px;
  }

  .product1,
  .product-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .product1 .product {
    margin: 15px;
  }
  #banner {
    height: 20vh;
  }

  #sm-banner {
    display: flex;
    justify-content: space-between;
    column-gap: 6rem;
    flex-direction: column;
    flex-wrap: nowrap;
    column-gap: 2rem;
  }
  #sm-banner .banner-box2,
  #sm-banner .banner-box {
    margin-bottom: 10px;
  }
  #sm-banner .banner-box {
    min-width: 198px;
    height: 20vh;
  }

  #banner3 .banner-box {
    width: 28%;
    height: 25vh;
  }
  #newsletter .form {
    width: 70%;
    margin-bottom: 20px;
  }
  #newsletter {
    padding: 0 20px;
  }

  #banner3 {
    padding: 0 40px;
  }
  #sm-banner span {
    font-size: 1rem;
  }

  /* !Blog Page  START*/
  .blog-details h4 {
    font-size: 3rem;
    color: var(--dark-color);
  }

  #blog-header {
    height: 30vh;
  }
  #blog-content img {
    width: 100%;
  }

  #blog-content {
    padding: 100px 40px 0 40px;
  }
  #blog-content .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog-content .blog-image {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
}

@media (max-width: 820px) {
  .section-p1 {
    margin: 40px 40px;
  }
  .section-m1 {
    margin: 0px 0px;
  }

  .logo {
    width: 14rem;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: var(--light-color);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 00.3s;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #menu-toggle-icon {
    display: flex;
    align-items: center;
  }
  #menu-toggle-icon i {
    color: var(--orange);
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: var(--dark-color-light);
    font-size: 24px;
  }
  #lg-bag {
    display: none;
  }

  .fa-bag-shopping {
    display: none;
  }
  .hero {
    height: 60vh;

    background-position: top 20% right 40%;
  }
  .hero h1 {
    font-size: 3rem;
  }

  .feature {
    justify-content: center;
  }

  .feature .fe-box {
    width: 150px;

    margin: 15px 15px;
  }

  .product1,
  .product-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .product1 .product {
    margin: 15px;
  }
  #banner {
    height: 20vh;
  }

  #sm-banner {
    display: flex;
    justify-content: space-between;
    column-gap: 6rem;
    flex-direction: column;
    flex-wrap: nowrap;
    column-gap: 2rem;
  }
  #sm-banner .banner-box2,
  #sm-banner .banner-box {
    margin-bottom: 10px;
  }
  #sm-banner .banner-box {
    min-width: 198px;
    height: 20vh;
  }

  #banner3 .banner-box {
    width: 28%;
    height: 25vh;
  }
  #newsletter .form {
    width: 70%;
    margin-bottom: 20px;
  }
  #newsletter {
    padding: 0 20px;
  }

  #banner3 {
    padding: 0 40px;
  }
  #sm-banner span {
    font-size: 1rem;
  }

  /* !Blog Page  START*/
  .blog-details h4 {
    font-size: 3rem;
    color: var(--dark-color);
  }

  #blog-header {
    height: 30vh;
  }
  #blog-content img {
    width: 100%;
  }

  #blog-content {
    padding: 100px 40px 0 40px;
  }
  #blog-content .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog-content .blog-image {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  /* !About  section*/
  #about-head {
    flex-direction: column;
  }
  #about-head img {
    width: 100%;
    margin-bottom: 20px;
  }
  #about-head div {
    padding-left: 0px;
  }
  #about-head p {
    font-size: 1.2rem;
    text-align: start;
    color: var(--dark-color-light);
  }
  #about-header h2 {
    text-align: center;
    font-family: " Oswald";
    font-size: 3.5rem;
    font-weight: 700;
  }
  #about-stores video {
    width: 100%;
  }
  /* !Cart  PAGE */

  #cart-add {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  /*.section-p1 {
    margin: 40px 40px;
  }
  .section-m1 {
    margin: 0px 0px;
  }*/

  .logo {
    width: 14rem;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: var(--light-color);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 00.3s;
  }

  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }

  #menu-toggle-icon {
    display: flex;
    align-items: center;
  }

  #menu-toggle-icon i {
    color: var(--orange);
    font-size: 24px;
    padding-left: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: var(--dark-color-light);
    font-size: 24px;
  }

  #lg-bag {
    display: none;
  }

  .fa-bag-shopping {
    display: none;
  }
  .hero {
    height: 60vh;
    background-position: top 20% right 40%;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .feature {
    justify-content: center;
  }

  .feature .fe-box {
    width: 150px;

    margin: 15px 15px;
  }

  .product1,
  .product-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .product1 .product {
    margin: 15px;
  }
  #banner {
    height: 20vh;
  }

  #sm-banner {
    display: flex;
    justify-content: space-between;
    column-gap: 6rem;
    flex-direction: column;
    flex-wrap: nowrap;
    column-gap: 2rem;
  }
  #sm-banner .banner-box2,
  #sm-banner .banner-box {
    margin-bottom: 10px;
  }
  #sm-banner .banner-box {
    min-width: 198px;
    height: 20vh;
  }

  #banner3 .banner-box {
    width: 28%;
    height: 25vh;
  }
  #newsletter .form {
    width: 70%;
    margin-bottom: 20px;
  }
  #newsletter {
    padding: 0 20px;
  }

  #banner3 {
    padding: 0 40px;
  }
  #sm-banner span {
    font-size: 1rem;
  }

  /* !CONTACT PAGE FORM*/
  #form-details {
    padding: 40px;
  }

  #form-details form {
    width: 50%;
  }

  /* !Cart  PAGE */

  #cart table td:nth-child(3) {
    width: 100%;
  }
}

@media (max-width: 540px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: var(--light-color);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 00.3s;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #menu-toggle-icon {
    display: flex;
    align-items: center;
  }
  #menu-toggle-icon i {
    color: var(--orange);
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: var(--dark-color-light);
    font-size: 24px;
  }
  #lg-bag {
    display: none;
  }

  .fa-bag-shopping {
    display: none;
  }

  .logo {
    width: 11rem;
    margin-top: 11px;
  }
  #header {
    padding: 10px 30px;
  }
  .hero h1 {
    font-size: 23px;
  }
  .hero h2 {
    font-size: 22px;
  }
  .hero p {
    font-size: 14px;
  }
  .hero p {
    margin: 12px 0 20px 0;
  }
  .hero h4 {
    font-size: 18px;
    padding-bottom: 12px;
    margin-top: 12px;
  }
  .hero {
    height: 70vh;

    background-position: 55%;
    padding: 0 20px;
  }
  /*.feature {
    justify-content: space-between;
  }*/
  .feature .fe-box {
    width: 155px;

    margin: 0 0 15px 0;
  }
  .product1 .product {
    width: 100%;
  }
  footer .colum {
    margin-left: 20px;
  }

  #banner1 {
    font-size: 1.4rem;
    font-weight: 300;
  }

  #newsletter h4 {
    font-size: 14px;
  }
  #banner {
    height: 40vh;
    width: 100%;
  }
  #sm-banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 9rem;

    height: 100vh;
  }
  #sm-banner .banner-box2 {
    margin-top: 20px;
  }

  #sm-banner .section-p1 {
    height: 40vh;
  }

  #sm-banner .banner-box {
    width: 340px;
    height: 30vh;
  }
  #banner3 {
    padding: 0 20px;
  }
  #banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    flex-direction: column;
  }

  #banner3 .banner-box {
    width: 100%;
  }
  #newsletter .form,
  #newsletter input {
    width: 100%;
  }

  #newsletter {
    padding: 40px 20px;
  }

  .footer-data {
    text-align: start;
  }

  /* !single-product-details*/
  #product-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .single-product-details {
    text-align: start;
  }

  #product-details .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }
  #product-details .single-product-details {
    width: 100%;
  }

  /* !Blog Page  START*/

  .blog-details h4 {
    font-size: 2.3rem;
    color: var(--dark-color);
  }

  #pagination a {
    font-size: 2.4rem;
    margin-bottom: 10px;
  }

  #blog-content {
    padding: 100px 10px 0 10px;
  }
  #blog-content .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog-content .blog-image {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  #blog-content .blog-details {
    width: 100%;
  }
  /* !Cart  PAGE */
  #cart-add {
    flex-direction: column;
  }
  #coupon {
    width: 100%;
  }
  #subtotal {
    width: 100%;
    padding: 20px;
  }
  #cart table {
    width: 100%;
    border-collapse: collapse;
    /* table-layout: fixed; */
    /* white-space: nowrap; */
    letter-spacing: normal;
  }
}

@media (max-width: 477px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: var(--light-color);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 00.3s;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #menu-toggle-icon {
    display: flex;
    align-items: center;
  }
  #menu-toggle-icon i {
    color: var(--orange);
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: var(--dark-color-light);
    font-size: 24px;
  }
  #lg-bag {
    display: none;
  }

  .fa-bag-shopping {
    display: none;
  }

  .section-p1 {
    margin: 40px 0px;
  }
  .logo {
    width: 11rem;
    margin-top: 11px;
  }
  #header {
    padding: 10px 30px;
  }
  .hero h1 {
    font-size: 23px;
  }
  .hero h2 {
    font-size: 22px;
  }
  .hero p {
    font-size: 14px;
  }
  .hero p {
    margin: 12px 0 20px 0;
  }
  .hero h4 {
    font-size: 18px;
    padding-bottom: 12px;
    margin-top: 12px;
  }
  .hero {
    height: 70vh;

    background-position: 55%;
    padding: 0 20px;
  }
  .feature {
    justify-content: space-between;
  }
  .feature .fe-box {
    width: 155px;

    margin: 0 0 15px 0;
  }
  .product1 .product {
    width: 100%;
  }
  footer .colum {
    margin-left: 20px;
  }

  #banner1 {
    font-size: 1.4rem;
    font-weight: 300;
  }

  #newsletter h4 {
    font-size: 14px;
  }
  #banner {
    height: 40vh;
    width: 100%;
  }
  #sm-banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 9rem;

    height: 100vh;
  }
  #sm-banner .banner-box2 {
    margin-top: 20px;
  }

  #sm-banner .section-p1 {
    height: 40vh;
  }

  #sm-banner .banner-box {
    width: 340px;
    height: 30vh;
  }
  #banner3 {
    padding: 0 20px;
  }
  #banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    flex-direction: column;
  }

  #banner3 .banner-box {
    width: 100%;
  }
  #newsletter .form,
  #newsletter input {
    width: 100%;
  }

  #newsletter {
    padding: 40px 20px;
  }

  .footer-data {
    text-align: start;
  }

  /* !single-product-details*/
  #product-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .single-product-details {
    text-align: start;
  }

  #product-details .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }
  #product-details .single-product-details {
    width: 100%;
  }

  /* !Blog Page  START*/

  .blog-details h4 {
    font-size: 2.3rem;
    color: var(--dark-color);
  }

  #pagination a {
    font-size: 2.4rem;
    margin-bottom: 10px;
  }

  #blog-content {
    padding: 100px 10px 0 10px;
  }
  #blog-content .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog-content .blog-image {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  #blog-content .blog-details {
    width: 100%;
  }
  /* !About  section*/
  #about-head {
    flex-direction: column;
  }
  #about-head img {
    width: 100%;
    margin-bottom: 20px;
  }
  #about-head div {
    padding-left: 0px;
  }
  #about-head p {
    text-align: start;
    color: var(--dark-color-light);
  }
  #about-header h2 {
    text-align: center;
    font-family: " Oswald";
    font-size: 2.5rem;
    font-weight: 700;
  }
  #about-stores video {
    width: 100%;
  }

  /* !CONTACT PAGE FORM  section*/

  #contact-header h2 {
    font-size: 1.8rem;
  }
  #contact-header p {
    font-size: 1rem;
  }

  #contact-details {
    flex-direction: column;
  }
  #contact-details .details {
    width: 100%;
    margin-bottom: 30px;
    font-size: 1.2rem;
  }

  #contact-details .map {
    width: 100%;
  }
  #form-details {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }
  #form-details form {
    width: 100%;
    margin-bottom: 30px;
  }
  #contact-details .details h2,
  #form-details form h2 {
    font-size: 1.4rem;
    margin-right: 20px;
  }

  #contact-details .details {
    width: 80%;
  }
  #contact-details .details li p {
    font-size: 1.3rem;
  }
}

@media (max-width: 414px) {
  .section-p1 {
    margin-bottom: 20px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: var(--light-color);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 00.3s;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #menu-toggle-icon {
    display: flex;
    align-items: center;
  }
  #menu-toggle-icon i {
    color: var(--orange);
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: var(--dark-color-light);
    font-size: 24px;
  }
  #lg-bag {
    display: none;
  }
  .fa-bag-shopping {
    display: none;
  }
  .logo {
    width: 150px;
    height: 50px;
    position: relative;
    top: 7px;
    padding-right: 40px;
  }
  /* !Cart  PAGE */
  #cart-add {
    flex-direction: column;
  }
  #coupon {
    width: 100%;
  }
  #subtotal {
    width: 100%;
    padding: 20px;
  }
  #cart table {
    width: 100%;
    border-collapse: collapse;
    /* table-layout: fixed; */
    /* white-space: nowrap; */
    letter-spacing: normal;
  }
}
@media (max-width: 375px) {
  .section-p1 {
    margin-bottom: 20px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: var(--light-color);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 00.3s;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #menu-toggle-icon {
    display: flex;
    align-items: center;
  }
  #menu-toggle-icon i {
    color: var(--orange);
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: var(--dark-color-light);
    font-size: 24px;
  }

  .fa-bag-shopping {
    display: none;
  }
  #lg-bag {
    display: none;
  }

  .logo {
    width: 150px;
    height: 50px;
    position: relative;
    top: 7px;
    padding-right: 40px;
  }
  /* !Cart  PAGE */
  #cart-add {
    flex-direction: column;
  }
  #coupon {
    width: 100%;
  }
  #subtotal {
    width: 100%;
    padding: 20px;
  }
  #cart table {
    width: 100%;
    border-collapse: collapse;
    /* table-layout: fixed; */
    /* white-space: nowrap; */
    letter-spacing: normal;
  }
}

@media (max-width: 280px) {
  .section-p1 {
    margin: 0px;
    margin-bottom: 20px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: var(--light-color);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 00.3s;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #menu-toggle-icon {
    display: flex;
    align-items: center;
  }
  #menu-toggle-icon i {
    color: var(--orange);
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: var(--dark-color-light);
    font-size: 24px;
  }
  #lg-bag {
    display: none;
  }

  .fa-bag-shopping {
    display: none;
  }

  .logo {
    width: 7rem;
    margin-top: 11px;
  }
  #blog-header {
    height: 30vh;
    width: 100%;
  }
}

/* !HEADER START*/

/* !HEADER START*/
